*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container-app{
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #F5EFE6;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #9BABB8;
    border-radius: 5px;
    border: 1px solid #9BABB8;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #9BABB8;
  }