.formik-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.formik-styles form {
    background-color: #c2dedc;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.2);
}

.formik-styles form input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
}

.formik-styles form button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #213555;
    font-weight: bold;
    box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
}
.formik-styles label{
    font-size: 20px;
    font-weight: bold;
    color: #213555;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 8px;
}
